<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2011-10-25T10:04:25Z</date>
		<key>actualSize</key>
		<integer>886</integer>
		<key>attributeModDate</key>
		<date>2011-10-20T08:39:37Z</date>
		<key>createDate</key>
		<date>2011-05-04T16:03:34Z</date>
		<key>creationDate</key>
		<date>2011-11-03T16:03:09Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>FD26AA4B-5D69-4C47-A025-C612940C23E3</string>
		<key>lastModifiedDate</key>
		<date>2011-10-20T08:39:37Z</date>
		<key>originalPath</key>
		<string>/Users/stevemoss/Dropbox/PhD/Research/Scripts/fix_tree.py</string>
		<key>originalSize</key>
		<integer>886</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>1413830740</integer>
				<key>id</key>
				<string>A3CDA535-EF40-4E9F-86C8-AA4D1BC83E01</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
