<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2011-10-25T10:04:44Z</date>
		<key>actualSize</key>
		<integer>862</integer>
		<key>attributeModDate</key>
		<date>2011-10-20T08:39:39Z</date>
		<key>createDate</key>
		<date>2011-05-03T22:09:40Z</date>
		<key>creationDate</key>
		<date>2011-11-03T16:06:53Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>D59ED3D4-AFB8-42A3-930B-7419CEA09F47</string>
		<key>lastModifiedDate</key>
		<date>2011-10-20T08:39:39Z</date>
		<key>originalPath</key>
		<string>/Users/stevemoss/Dropbox/PhD/Research/Scripts/stap_stripper.py</string>
		<key>originalSize</key>
		<integer>862</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>1413830740</integer>
				<key>id</key>
				<string>54CC3912-BB0A-46C9-9D26-283CD9FAC5B3</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
