<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2011-10-25T10:04:37Z</date>
		<key>actualSize</key>
		<integer>2437</integer>
		<key>attributeModDate</key>
		<date>2011-10-20T08:39:38Z</date>
		<key>createDate</key>
		<date>2011-05-04T09:35:46Z</date>
		<key>creationDate</key>
		<date>2011-11-03T16:06:53Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>8E12CD7C-D305-42F6-8C38-5A16CA14E41C</string>
		<key>lastModifiedDate</key>
		<date>2011-10-20T08:39:38Z</date>
		<key>originalPath</key>
		<string>/Users/stevemoss/Dropbox/PhD/Research/Scripts/run_STAP.py</string>
		<key>originalSize</key>
		<integer>2437</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>C59A5BDB-AB76-459E-B795-DDF771806DED</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
